@font-face {font-family: "Noto Sans";
  src: url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.eot"); /* IE9*/
  src: url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Noto-Sans/2fd9c16b805724d590c0cff96da070a4.svg#Noto Sans V1") format("svg"); /* iOS 4.1- */
}
body{
  color: white;
  font-family: "Noto Sans";
  background-color: #03032f;
}
nav{
  margin-top: 30px;
}
video{
  width: 100%;
}

#browser_launch{
  border-radius: 15px;
  background-color: midnightblue;
  color: white;
}
#btn_contact{
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0px;
  background-color: transparent;
}
#btn_contact:hover{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}
#form-browser{
  width: 100%;
  text-align: center;
}
#play{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}
#search_txt{
  font-size: 20px;
  background-color: midnightblue;
  color: white;
}
#search_span{
  background-color: midnightblue;
  color: white;
}
.abstract{
  text-align: justify;
}
.border-blue{
  width: 40%;
  margin: auto;
  padding: 15px;
  border: 1px solid #2188ca;
}
.browser{
  margin-bottom: 25px;
}
.btn-hds{
  background-color: #2188ca;
  color: white;
  padding: 9px;
}
  .btn-hds:hover{
    color: white;
  }
.btn-cita{
  color: white;
  margin-left: 10px;
  border: 1px solid white;
}
  .btn-cita:hover{
    background-color: #2188ca;
    color: white;
  }
.landing-video {
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: -10;
}
.landing-browser {
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.modal{
  color: black;
}
.message{
  font-weight: bold;
}
.nav-link{
  text-align: center;
  font-size: 20px;
}
.navbar-brand{
  color: white;
}
.navbar-brand:hover{
  color: white;
}
.navbar{
  margin-bottom: 140px;
}
.p-boton{
  margin-bottom: 0px;
}
.sheet-transparent{
  height: 40vh;
}
.sheet-white{
  background-color: white;
  color: black;
  height: 100%;
  padding-top: 20px;
}
.title {
  text-align: center;
}
  .title h1{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .title h2{
    font-size: 112px;
    margin-bottom: 15px;
  }
  .title h3{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .title p{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: bold;
  }
